.Channels {
  position: relative;
}
.Channels__add-channel {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.Channels__add-channel .wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-right: 1rem;
}
.Channels__add-channel .wrap:hover {
  background-color: var(--primary-color-hover);
}
.Channels__list_channel-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.Channels__list_channel-item .thumbnail {
  width: 4rem;
  border-radius: 50%;
}
.ChannelDetail__list-item .time {
  font-size: 12px;
}
